# fixes parsing error compared to version 2.3
https://github.com/SmileyChris/easy-thumbnails/archive/master.zip

# Bare minimum
django-cms>=3.4

# database
mysqlclient

# Optional, recommended packages
djangocms-audio
djangocms-column
djangocms-file
djangocms-history
djangocms-link
djangocms-picture
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-video
