<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
    {% load cms_tags sekizai_tags menu_tags staticfiles compress %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        {% block robots %}<meta name="robots" content="noindex,nofollow">{% endblock %}
        <title>{% page_attribute "page_title" %}</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        {% compress css %}
            <link rel="stylesheet" href="{% static 'css/jqueryui/jquery-ui.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-cyborg.min.css' %}">
            {% render_block "css" %}
            {% block extra_css %}{% endblock %}
        {% endcompress %}
        <script src="https://use.fontawesome.com/59253a2c0e.js"></script>

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% cms_toolbar %}
        {% block menu %}{% show_menu 0 1 0 1 %}{% endblock %}
        {% block content %}{% placeholder "content" %}{% endblock %}
        {% block footer_js %}
            <script src="{% static 'js/jquery/jquery-3.1.1.min.js' %}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            <script src="{% static "js/jquery/jquery-ui.min.js" %}"></script>
        {% endblock %}
        {% render_block "js" %}
    </body>
</html>
